/* body{
  margin-left: 20px;
} */
.margin{
  margin-left: 10px;
}
.header-link{
  text-decoration: none;
  color: white;
  padding: 15px;
}
.header-link:hover{
  background-color: rgb(6, 48, 126);
  height: 100%;
}
.header-linkParent{
  display : flex;
  flex-direction : row;
  justify-content: flex-end;
  width : 100%;
  height : 50px;
  margin-left: 0;
}
.container{
  display : grid;
  grid-template-columns: 2fr 1fr 1fr 3fr;
  background-color : #146b8d;
  margin-bottom: 30px;
  position: fixed;
  top : 0;
  width : 100%;
  overflow: hidden;
  z-index: 1;
  margin-left: 0;
}
.searchbar{
  width : 500px;
  margin-top: 1px;
}
.textfield{
  background-color: white;
  height: 30px;
  box-shadow: 1px 4px rgb(143, 216, 245);
}
.searchbutton{
  margin-top: 16px;
  width: 100px;
  height: 33px;
  cursor: pointer;
  background-color: rgba(250, 226, 90, 0.507);
  box-shadow: 1px 2px rgba(235, 225, 172, 0.507);
}
.margbot{
  height: 70px;
}
.dividemaincontainer{
  display: grid;
  grid-template-columns: 1fr;
}
/* .sortandfilterbuttons{
  border-right: 1px solid gray;
}
button{
  margin:10px;
} */
.firstimage{
  width: 200px;
  height: 200px;
}
.firstimage2{
  width: 180px;
  height: 180px;
}
.imagegrid{
  display : flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.imagecontainer{
  /*border : 1px solid rgb(16, 152, 243);
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 5px 5px rgb(169, 214, 245);
  */
  width: 95%;
  display: flex;
  flex-direction: row;
  
  margin : 20px;
  border-bottom: 3px solid black;
}
.photo{
  width: 220px;
  height: 200px;
}
.details{
  /*
  flex: 30%;
  background-color: rgb(189, 187, 187);
  */
  color: black;
  font-size: large;
  overflow: hidden;
  width: 55vw;
  white-space: wrap;
  text-overflow: ellipsis;
}
.logocontainer{
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
  margin-left: 10px;
}
.logo{
  width: 100px;
  height: 30px;
}
.modifiedgrid{
  justify-content: flex-start;
}
.price{
  color: rgb(161, 70, 70);
}
.personalimagecontainer{
  width: 100%;
  display: flex;
  flex-direction: row;
} 
.allimages{
  display: flex;
  flex-direction: column;
  height: 400px;
  flex-wrap: wrap;
  flex: 10%;
  margin-right : 10%;
}
.smallimage{
  width: 50px;
  height: 50px;
  padding: 5px;
}
.mainimagecont{
  flex:30%;
}
.mainimage{
  width: 300px;
  height: 300px;
}
.details{
  flex: 40%;
}
.mainimage:hover{
  cursor: zoom-in;
	border: 0;
	box-shadow: 2px 2px 7px 2px rgba(130,130,130,.7),-2px -2px 7px 2px rgba(130,130,130,1);
  width: 500px;
  height: 400px;
}
.textdesign{
  font-family: sans-serif;
}
.rollimagetext{
  color: grey;
}
.detailsheight{
  display: inline-block;
  height: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.reclist{
  display: flex;
  flex-direction: row;
}
.recimagecontainer{
  display:flex;
  flex-direction: column;
  border : 1px solid rgb(21, 183, 204); 
  border-radius: 10px;
  height: 315px;
  width: 250px;
  margin: 20px;
  box-shadow: 5px 5px rgb(172, 239, 248);
}
.recimagecontainer2{
  display:flex;
  flex-direction: column;
  /* border : 1px solid rgb(21, 183, 204); 
  border-radius: 10px; */
  height: 315px;
  width: 250px;
  margin: 20px;
  margin-bottom: 40px;
  /* box-shadow: 5px 5px rgb(172, 239, 248); */
}
.recimage{
  width: 220px;
  height: 200px;
}
.recimage2{
  width: 200px;
  height: 180px;
  margin: 20px;
}
.recdetails{
  height: 100%;
  color: black;
}
.rating{
  width:1px;
}
.scrolltext{
  text-decoration: none;
  color: rgb(22, 165, 165);
  cursor: pointer;
}
.detailssub{
  font-weight: 540;
  font-family: Arial, Helvetica, sans-serif;
}
.detailssub2{
  font-weight: 550;
}
.tr-1{
  display: flex;
  border-bottom: 2px solid rgb(143, 132, 132);
  padding-bottom: 0;
  width: 90vw;
}
.td-1{
  flex: 50%;
  background-color: rgb(240, 239, 239);
}
.td-2{
  flex:50%;
}
.FrequentContainer{
  display: flex;
  flex-direction: column;
}
.FrequentContainer{
  display: flex;
  flex-direction: column;
}
.FrequentImageContainer{
  display: flex;
  flex-direction: row;
}
.recimage3{
  width: 150px;
  height: 130px;
  padding: 10px;
}
.plus{
  padding: 10px;
  font-size: xx-large;
  margin-top: 3%;
  color : gray;
}
.plus2{
  color : gray;
}
